{% extends 'base.html.twig' %}

{% block title %}
Travail sur soi
{% endblock %}


{% block top %}
<section class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/bg_3.jpg') }});">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row no-gutters text align-items-end js-fullheight justify-content-center" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate text-center">
        <p class="breadcrumbs"><span>Approche Jungienne</span></p>
        <h1 class="bread">Approche<br> Jungienne</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container px-0">
    <div class="row no-gutters">
      <div class="d-flex flex-column justify-content-center my-5">
        <h1 class="my-5">
          Approche Jungienne
        </h1>
        <div>
          <p>
            Carl Gustav JUNG a su relier les opérations et principes de l'Alchimie aux mouvements de la vie intérieure
            de chaque individu.
          </p>
          <p>
            L’approche jungienne consiste à faire des liens entre ce monde intérieur et le monde extérieur, entre le
            conscient et l’inconscient, entre l’individu et le monde, entre l'individuel et le collectif.
          </p>
          <p>
            Selon Jung, nous sommes longtemps la marionnette de contenus inconscients qui nous dominent.
          </p>
          <p>
            L’inconscient, c’est ce qui nous échappe et ce qui nous saisit : un rendez-vous manqué, une date oubliée,
            des échecs répétitifs, un secret familial, un mot pour un autre…
          </p>
          <p>Il en conclut :</p>
          <quote class="mx-auto text-center my-3">
          </quote>

          <figure class="d-flex flex-column justify-content-center my-5">
            <blockquote class="blockquote">
              <p class="m-0 text-white px-2 py-4 mx-auto bold col-11 col-md-10 col-lg-9 text-center" style="
              background: rgb(108,50,131);
background: linear-gradient(90deg, rgba(108,50,131,1) 0%, rgba(147,55,86,1) 15%, rgba(243,80,84,1) 49%, rgba(147,55,86,1) 85%, rgba(108,50,131,1) 100%);
              ">
                <span class="my-5">
                  « Tant que vous n’aurez pas rendu l’inconscient conscient,
                  <br>
                  Il dirigera votre vie et vous appellerez cela le destin »
                </span>
              </p>
            </blockquote>
          </figure>
          <p>
            Mais, toujours selon Jung, nous ne sommes pas « seuls au monde » : ni dans le monde extérieur (autour de
            nous), ni dans notre monde intérieur (notre psyché).
          </p>
          <p>
            Le monde qui nous entoure est comme un immense écran de cinéma sur lequel nous projetons nos affects : par
            exemple, dans un conflit au travail, nous ne supporterons pas une remarque de notre collègue qui nous
            ramènerait à des conflits avec un père autoritaire.
          </p>
          <p>
            Notre psyché est emplie de figures que nous pouvons rencontrer dans nos rêves : certaines sont effrayantes,
            d'autres sont porteuses de connaissances ou de projets à venir.
          </p>
          <p>
            Les deux mondes ont en commun la présence de symboles.
          </p>
          <p>
            Le symbole (<i>issu du grec ancien sumbolon</i>) signifie « <b>mettre ensemble</b> », « <b>joindre</b> », «
            <b>échanger</b> »,
            « se rencontrer »...
          </p>
          <p>
            Les rêves, tout comme l'Alchimie, rendent sensibles au langage symbolique, un langage qui met précisément
            ensemble soi et les autres.
          </p>
          <p>
            Ainsi que l'ombre et la lumière
          </p>
          <p>
            Car nous ne sommes pas seuls : Jung reconnaît l'existence d'un centre, d'une puissance qui travaille à
            l'harmonisation et à l'équilibre psychique, un véritable guérisseur intérieur.
          </p>
          <p class="P">
            Il nomme ce centre <b>le Soi</b>.
          </p>
          <figure class="d-flex flex-column justify-content-center my-5">
            <blockquote class="blockquote">
              <p class="m-0 text-white px-2 py-4 mx-auto bold col-11 col-md-10 col-lg-9 text-center" style="
              background: rgb(108,50,131);
background: linear-gradient(90deg, rgba(108,50,131,1) 0%, rgba(147,55,86,1) 15%, rgba(243,80,84,1) 49%, rgba(147,55,86,1) 85%, rgba(108,50,131,1) 100%);
              ">
                <span class="my-5">
                  « Le Soi correspond à la totalité étant entendu que la totalité n’est pas la perfection, elle est
                  l’intégralité de l’être »
                </span>
              </p>
            </blockquote>
          </figure>

          <p>
            L'approche jungienne nous invite à faire sienne ces mots de JUNG.
          </p>
          <figure class="d-flex flex-column justify-content-center my-5">
            <blockquote class="blockquote">
              <p class="m-0 text-white px-2 py-4 mx-auto bold col-11 col-md-10 col-lg-9 text-center" style="
              background: rgb(108,50,131);
background: linear-gradient(90deg, rgba(108,50,131,1) 0%, rgba(147,55,86,1) 15%, rgba(243,80,84,1) 49%, rgba(147,55,86,1) 85%, rgba(108,50,131,1) 100%);
              ">
                <span class="my-5">
                  « Efforce toi de devenir tel que tu veux que soit l’œuvre que tu recherches »
                </span>
              </p>
            </blockquote>
          </figure>
          <p class="my-5 text-center">
            <a href="{{path('travail_voyage')}}" class="btn btn-dark py-2 px-4">Cela suppose travail sur soi et voyage
              en soi</a>
          </p>

        </div>

      </div>
      <hr>
      <div class="my-5 d-flex flex-column justify-content-center">
        <h1 class="my-5">
          Pour commencer le travail / voyage
        </h1>
        <div>
          <span style="font-size: 2em;"> « </span>
          <p>
            Il était une fois un vieil homme bien singulier. Il vivait dans une caverne où il s'était retiré ,
            loin du bruit des villages. Il avait la réputation d'être un magicien, et des élèves lui étaient venus,
            espérant apprendre de lui la magie.
          </p>
          <p>
            Lui-même n'avait cependant rien de tel en tête. Sa seule occupation était de chercher à savoir
            ce qu'il pouvait en être de ce qu'il ne savait pas, mais qu'il savait avec certitude se produire toujours.
          </p>
          <p>
            Et lorsqu'il eut très longuement tenté de penser l'impensable, il ne trouva plus d'autre solution, dans
            cette situation pénible, que de prendre une craie et de faire sur les parois des cavernes toutes sortes
            de dessins afin de trouver à quoi pouvait ressembler cela, ce qu'il ne savait pas.
          </p>
          <p>
            Après bien des essais, il en vint à dessiner un cercle.
          </p>
          <p>
            Il eut le sentiment que c'était bien cela ; et maintenant encore un carré dedans, et ainsi c'était encore
            mieux.
          </p>
          <p>
            Ses élèves étaient pleins de curiosité, mais tout ce qu'ils savaient, c'est que le vieux avait
            trouvé quelque chose, et ils auraient bien voulu arriver à comprendre ce qu'il faisait au juste.
            Ils le questionnèrent :
          </p>
          <p>
            <span class="mr-2" style="font-size: 1.5em;">-</span> Que fais-tu donc là-dedans ?
          </p>
          <p>
            Mais il ne leur dit rien.
          </p>
          <p>
            Ils découvrirent alors les dessins sur les parois de la caverne, et dirent :
          </p>
          <p>
            <span class="mr-2" style="font-size: 1.5em;">-</span> Voilà, c'est cela !
          </p>
          <p>
            Et ils se mirent à imiter les dessins.
          </p>
          <p>
            Or ils renversaient, ce faisant, sans s'en rendre compte, tout ordre des opérations : en partant
            du résultat, ils espéraient ressaisir la démarche même qui y avait conduit.
          </p>
          <p class="mb-0">
            C'est ainsi que les choses se passèrent et qu'elles se passent encore aujourd'hui
          </p>
          <span style="font-size: 2em;"> » </span>
        </div>

      </div>
    </div>
</section>
{% endblock %}
