{% extends 'base.html.twig' %}

{% block title %}
    {{ page.name }}
{% endblock %}
{% block top %}
    <section class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/bg_3.jpg') }});">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row no-gutters text align-items-end js-fullheight justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate text-center">
                    <h1 class="bread">{{ page.name }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div class="m-5">
        {{ page.content | raw }}
    </div>
{% endblock %}