{% extends 'base.html.twig' %}

{% block title %}
Athanors
{% endblock %}

{% block top %}
<section class="hero-wrap js-fullheight">
  <div class="container-fluid px-0">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate text-center">
        <div class="desc">
          <span class="subheading">ANALYSE</span>
          <h1 style="background-image: url({{ asset('images/bg_1.jpg') }});">Athanors</h1>
          <span class="subheading-2">SYMBOLIQUE</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">


    <div class="min-vh-50 w-100 d-flex flex-column flex-lg-row mt-5 align-items-center">
      <img src="{{ asset('images/athanor.jpg') }}" class="col-11 col-md-8 col-lg-6 m-2">
      <div class="d-flex flex-column p-3">
        <p>
          L'<span class="bold">ATHANOR</span> est le four utilisé en alchimie qui permet le travail de
          transmutation ( « du plomb en or »
          et
          « de la matière primaire en pierre philosophale »).
        </p>
        <p>
          Comme l'athanor, le rêve est aussi une puissante voie de transformations.
        </p>
        <p>
          L'Hermétisme, à l'origine réservé aux initiés, vient d'Hermès Trismégiste, dont se réclament les
          alchimistes.
        </p>
        <p>
          Est « <b>Hermétique</b> » le travail qui permet d'ouvrir une porte, c'est-à-dire de créer un pont entre
          intérieur et
          extérieur.
        </p>
        <p>
          <b>ATHANORS</b> est une proposition concrète de vivre ces processus de transformation, tant
          individuellement que collectivement.
        </p>
      </div>
    </div>

    <div class="min-vh-100 w-100 d-flex">
      <div class="m-auto" id="stairs">
        <hr>
        <h1 id='letter-1'>
          Approche par le
          <div>
            <h1 id='letter-2'> Travail
              <div>
                <h1 id='letter-3'>
                  Hermétique et
                </h1 id='letter-1'>
                <div>
                  <h1 id='letter-4'> Analytique sur la
                  </h1 id='letter-1'>

                  <div>
                    <h1 id='letter-5'> Naissance et l’
                    </h1 id='letter-1'>
                    <div>
                      <h1 id='letter-6'> Oeuvre des
                      </h1 id='letter-1'>
                      <div>
                        <h1 id='letter-7'> Rêves et des
                        </h1 id='letter-1'>

                        <div>
                          <h1 id='letter-8'>
                            Symboles
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </h1>
        <hr>
      </div>
    </div>
    <p></p>
    <div class="text-center pb-5">
      <div class="w-100 m-auto pb-5">
        <h1 class="p-0 m-0">ATHANORS</h1>
        <p class="text-center">
          a pour vocation d'offrir un accompagnement personnalisé dans un cadre sécurisant et
          bienveillant.
        </p>
      </div>
    </div>
    <div class="min-vh-50 w-100 d-flex flex-column justify-content-between">
      <div>
        <p class="T1">Cet accompagnement est essentiellement</p>
        <ul>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Hermétique</span>
               : il fait le lien entre l'intérieur et l'extérieur.<span class="odfLiEnd"></span>

            </p>
          </li>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Analytique</span>
               : il fait le lien entre le conscient et l'inconscient.<span class="odfLiEnd"></span>

            </p>
          </li>
        </ul>
      </div>
      <div>
        <p class="T1">Il aide aux différents passages</p>
        <ul>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Naissance</span>
               : ce qui est sans cesse renouvelé.<span class="odfLiEnd"></span>

            </p>
          </li>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Œuvre</span>
               : sans cesse remaniée /affinée/actualisée/remise à l'ordre du jour.<span class="odfLiEnd"></span>

            </p>
          </li>
        </ul>
      </div>

      <div>
        <p class="T1">Il est guidé par</p>
        <ul>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Les rêves</span>
               : comme accès à la source d'évolution et de guérison.<span class="odfLiEnd"></span>

            </p>
          </li>
          <li>
            <p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols"
                style="display:block;float:left;min-width:0.635cm;">✔</span>
              <span class="bold">Les symboles</span>
               : comme pont entre l'individu et le Monde.<span class="odfLiEnd"></span>

            </p>
          </li>
        </ul>
      </div>


    </div>

    <a href="{{ path('approche_jungienne') }}">
      <figure class="min-vh-50 d-flex flex-column justify-content-center">
        <blockquote class="blockquote">
          <p class="p-0 m-0">
            Dans l'alchimie, la purification s'opère au moyen de distillations répétées ; en psychologie,
            elle a
            lieu par la séparation radicale du moi de l'homme ordinaire d'avec toutes les contaminations
            inflationnistes de l'inconscient.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">
          C.G. JUNG in <cite title="Source Title">Pyschologie du transfert </cite>
        </figcaption>
      </figure>
    </a>
  </div>
</section>
<style type="text/css">
  @page {}

  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show
  }

  td,
  th {
    vertical-align: top;
    font-size: 12pt;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* "li span.odfLiEnd" - IE 7 issue*/
  li span. {
    clear: both;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  span.footnodeNumber {
    padding-right: 1em;
  }

  span.annotation_style_by_filter {
    font-size: 95%;
    font-family: Arial;
    background-color: #fff000;
    margin: 0;
    border: 0;
    padding: 0;
  }

  span.heading_numbering {
    margin-right: 0.8rem;
  }

  * {
    margin: 0;
  }

  .P1 {
    font-size: 12pt;
    text-align: justify ! important;
  }

  .P2 {
    font-size: 16pt;
    text-align: center ! important;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .P {
    font-size: 20pt;
    text-align: center ! important;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .P3 {
    font-size: 12pt;
    text-align: justify ! important;
  }

  .P4 {
    font-size: 12pt;
    text-align: justify ! important;
  }

  .P5 {
    font-size: 12pt;
    text-align: justify ! important;
  }

  .P6 {
    font-size: 12pt;
  }

  .P7 {
    font-size: 12pt;
  }

  .P8 {
    font-size: 12pt;
  }

  .P9 {
    font-size: 12pt;
    text-align: justify ! important;
    font-style: italic;
  }

  .Standard {
    font-size: 12pt;
  }

  .Bullet_20_Symbols {
    font-family: OpenSymbol;
  }

  .T1 {
    font-weight: bold;
  }

  /* ODF styles with no properties representable as CSS */
    {}
</style>
{% endblock %}
