{% extends 'base.html.twig' %}

{% block title %}
Travail sur soi
{% endblock %}


{% block top %}
<section class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/bg_3.jpg') }});">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row no-gutters text align-items-end js-fullheight justify-content-center" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate text-center">
        <p class="breadcrumbs"><span>Travail sur soi</span></p>
        <h1 class="bread">Travail sur soi,<br> voyage en soi</h1>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container px-0">
    <div class="row no-gutters">
      <div class="d-flex flex-column justify-content-center my-5">
        <h1 class="my-5">
          Un espace dédié à ce travail individuel et collectif.
        </h1>
        <div>
          <p>
            <b>ATHANORS </b>est un espace dédié à un travail individuel et collectif
          </p>
          <p>
            Le <b>TRAVAIL SUR SOI</b> nous permet de sortir d'une situation difficile, voire dangereuse.
            Il donne du sens à cette situation, offre d'autres points de vue et favorise un nouveau
            positionnement : il est source de transformation de la situation.
          </p>
          <p>
            Le <b>VOYAGE EN SOI</b> en est le prolongement
            Il nous permet de partir à l'aventure et d'explorer nos mondes intérieurs (ceux de nos parents, des
            nos ancêtres, de notre enfance, de la société, etc.) et d'en revenir plus libre et plus proche de ce que
            nous souhaitons véritablement être.
          </p>
        </div>

      </div>
      <hr>
      <div class="my-5 d-flex flex-column justify-content-center">
        <h1 class="my-5">
          Pourquoi ce travail sur soi ?
        </h1>
        <div>
          <p>
            La vie est une succession de transitions. Certaines passent inaperçues, d'autres sont plus
            mouvementées, voire vécues comme de véritables « crises »
          </p>
          <p>
            Ces blocages peuvent être de nature physique, émotionnelle et/ou spirituelle.
          </p>
          <p>
            Ils peuvent amener à considérer un seul point de vue qui enferme dans une vision tragique de sa
            situation (« je suis nul(le) » ; « ils ont tort » ; « je ne m'en sortirai jamais » ; « c'est
            toujours la même
            chose »...).
          </p>
          <p>
            Autant d'états où tout semble souvent figé et se réduire à un point de vue unique et négatif :
            celui du
            tragique .
            <br>
            Comme si tout était confus, embrouillé, ou pire, perdu d'avance...
          </p>
          <p>
            Ces blocage naissent ou peuvent se révéler à la suite :
          <ul>
            <li>
              d'un choc (licenciement, rupture, divorce, deuil...)
            </li>
            <li>
              d'un traumatisme (inceste, viol, agression, harcèlement...)
            </li>
            <li>
              d'un état de mal-être (difficulté relationnelle, dépression, tentative de suicide, trouble
              du
              comportement alimentaire, maladie...)
            </li>
            <li>
              d'un malaise existentiel (difficulté à comprendre les codes, ce que veulent dire les autres,
              de
              mésestime de soi, de place dans son environnement personnel/professionnel/familial/...)
            </li>
          </ul>
          </p>
        </div>

      </div>

      <div class="my-5 d-flex flex-column justify-content-center">
        <h1 class="my-5">
          Pourquoi ce voyage en soi
        </h1>
        <div>
          <p>
            Dans une optique d'évolution :
          <ul>
            <li>
              Mieux communiquer
            </li>
            <li>
              Découvrir de nouvelles parties de soi
            </li>
            <li>
              Explorer son Ombre et sa Lumière
            </li>
            <li>
              Améliorer son rapport à soi même et aux autres
            </li>
            <li>
              Donner du sens
            </li>
            <li>
              Équilibrer son rapport à la Vie, à la Terre, à l'Univers
            </li>
            <li>
              Reconnecter avec la circulation de l'Energie de vie
            </li>
            <li>...</li>
          </ul>
          </p>
        </div>

      </div>

      <div class="my-5 d-flex flex-column justify-content-center">
        <h1 class="my-5">
          Comment oeuvrer à ce Travail/Voyage ?
        </h1>
        <div>
          <ul>
            <li>
              Par l'Analyse symbolique : des rêves, des contes, des mythes, d'une situation réelle
            </li>
            <li>
              Par l'Alchimie spirituelle : transformation profonde intérieure selon les principes hermétiques
            </li>
            <li>
              Par la Méditation
            </li>
            <li>
              Par le mouvement corporel : Qi Qong
            </li>
            <li>
              Par la Constellation familiale et systémique
            </li>
            <li>
              Par l'Art : écriture, peinture...
            </li>
          </ul>
        </div>
        <div class="my-2">

          <h3>De manière individuelle</h2>
            <p>
              Les rendez-vous sont à prendre par mail ou par téléphone
            </p>
            <p>
              La séance se déroule:
            <ul>
              <li>
                en présentiel à Bannalec
              </li>
              <li>
                en distanciel (par Zoom, par Skype) </li>
              <li>
                par téléphone
              </li>
            </ul>
            </p>
            <a href="{{path('app_analystes')}}" class="btn btn-outline-dark btn-sm w-auto mr-auto my-2">
              Voir page "Analyste"
            </a>
        </div>
        <div class="mt-2">
          <h3>De manière collective</h3>
          <p>
            Des Ateliers réguliers hebdomadaires et mensuels et des stages de 2 à 7jours.
          </p>
          <p>
            Ils s'appuient sur une dynamique de groupe.
          </p>
          <p>
            Ils permettent d'unir les différentes approches (analyse symbolique de rêve, méditation, Qi
            Gong,
            Constellations, etc.).
          </p>
          <p>
            Ils se feront en distanciel par Zoom ou en présentiel au lieu indiqué.
          </p>
          <p>
            <br>
          </p>
        </div>

      </div>
      <div class="mb-5 d-flex flex-column justify-content-center">
        <h1 class="my-5">
          Pour résumer
        </h1>
        <div>
          <p>
            Chacun(e) peut donc, à son rythme, cheminer :
          <ul>
            <li>
              <b><i>En conscience</i></b>
              <p>
                vers plus de clarté, le soulagement de ses maux, le bien-être, des choix justes, un meilleur
                lien à soi
                et à l'autre...
              </p>
            </li>

            <li>
              <b><i>En profondeur</i></b>
              <p>
                vers la connaissance de soi, l'acceptation de la différence , une écoute dialoguée entre
                conscient et
                inconscient...
              </p>
            </li>
          </ul>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
