{% extends 'base.html.twig' %}

{% block title %}
	Agenda
{% endblock %}


{% block top %}
	<section class="hero-wrap js-fullheight" style="background-image: url({{ asset('images/bg_3.jpg') }});">
		<div class="overlay"></div>
		<div class="container-fluid px-0">
			<div class="row no-gutters text align-items-end js-fullheight justify-content-center" data-scrollax-parent="true">
				<div class="col-md-12 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="{{ path('app_who_we_are') }}">Nous decouvrir</a></span> <span>Selection</span></p>
					<h1 class="bread">Qui sommes nous ?</h1>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block body %}
	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">

			<div class="vh-100 w-100 d-flex">
				<div class="col-lg-6 col-md-8 col-sm-11 m-auto">
					<hr>
					<p class="P">
						Athanors vous propose un accompagnement personnalisé, un pont entre conscient et inconscient, grâce à des accompagnants formés à l'approche symbolique et analytique.
					</p>
					<hr>
				</div>
			</div>
			<p class="P2">Pourquoi être accompagné(e) ?</p>
			<p class="Standard">
			</p>
			<p class="P1">Peut-être vivez-vous ou avez-vous vécu :</p>
			<ul><li><p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">✔</span>
						un choc (licenciement, rupture, divorce, deuil...), <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">✔</span>
						un traumatisme (inceste, viol, agression, harcèlement...), <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">✔</span>
						un état de mal-être (difficulté relationnelle, dépression, tentative de suicide, trouble du comportement alimentaire, maladie...) <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">✔</span>

						un malaise existentiel (de douance/haut potentiel, de mésestime de soi, de place dans son environnement...) <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P3" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">✔</span>
						une quête de sens (le rapport à la Vie, à la Terre, à l'Univers, au Divin ...)<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="P1">
			</p>
			<p class="P1">Autant d'états où tout semble souvent figé et se réduire à un point de vue unique
				et mortifère : celui du «
				tragique
				».</p>
			<p class="Standard">Comme si tout était confus,
				embrouillé, ou pire, perdu d'avance...</p>
			<p class="Standard">
			</p>
			<p class="P2">Comment vivre ma situation autrement
				?</p>
			<p class="Standard">
			</p>
			<p class="P1"><span class="T1">Athanors </span>
				a pour vocation de proposer un accompagnement personnalisé afin d'élargir le champ des possibles et de favoriser un positionnement éclairé en permettant une observation à la fois plus fine et plus large de la situation tragique.</p>
			<p class="Standard">
			</p>
			<p class="P1">Cet accompagnement est essentiellement analytique et symbolique
				: il fait le lien entre le conscient et l'inconscient, entre l'intérieur et l'extérieur, entre l'individu et le Monde.</p>
			<p class="P1">
			</p>
			<p class="P1">La vie est une succession de transitions. Certaines passent inaperçues, d'autres sont plus impactantes, voire constituent de véritables «
				crises
				».</p>
			<p class="P1">Ces blocages peuvent être de nature physique, émotionnelle et/ou spirituelle.</p>
			<p class="P1">Il s'agit donc de renouer avec
				:</p>
			<ul><li><p class="P4" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">•</span>
						la dynamique du Mouvement, <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P4" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">•</span>
						la circulation de l'Energie de Vie <span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P4" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">•</span>
						la qualité de la Relation (en commençant par la relation à soi
						: ses besoins, son intériorité,
						sa singularité)<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="Standard">
			</p>
			<p class="P2">Comment passer d'une rive à l'autre
				? </p>
			<p class="Standard">
			</p>
			<ul><li><p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						Par l'analyse symbolique
						: des rêves,
						des contes, des mythes, d'une situation réelle<span class="odfLiEnd"></span>

					</p>
					<p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0cm"><!--
--></span>
						<span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						Par la méditation
						: kabbalistique et taoïste<span class="odfLiEnd"></span>

					</p>
					<p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0cm"><!--
--></span>
						<span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						Par le mouvement corporel
						: Qi Qong <span class="odfLiEnd"></span>

					</p>
					<p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0cm"><!--
--></span>
						<span class="odfLiEnd"></span>

					</p>
				</li>
				<li><p class="P6" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						De manière individuelle
						<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="Standard">Le rendez-vous est à prendre en ligne, par mail ou par téléphone.</p>
			<p class="Standard">Durée de la séance
				: 1h30</p>
			<p class="Standard">Prix de la séance
				: 75 euros</p>
			<p class="Standard">Ce prix est aussi fonction de la situation financière du moment.</p>
			<p class="Standard">
			</p>
			<ul><li><p class="P7" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						En couple<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="Standard">Le rendez-vous est à prendre par mail ou par téléphone.</p>
			<p class="Standard">Les modalités seront vues avec le couple et l(es) accompagnant(s).</p>
			<p class="Standard">
			</p>
			<ul><li><p class="P8" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">➢</span>
						De manière collective<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="P1">Les Ateliers s'appuient sur une dynamique de groupe. </p>
			<p class="P1">Ils permettent d'unir les différentes approches (analyse symbolique de rêve, méditation, Qi Qong, etc.). </p>
			<p class="P1">Ils demandent un engagement hebdomadaire/mensuel/annuel.</p>
			<p class="Standard">
			</p>
			<p class="P1">Chacun(e) peut donc, à son rythme, cheminer
				:</p>
			<ul><li><p class="P9" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">•</span>
						en conscience
						<span class="odfLiEnd"></span>

					</p>
					<p class="P5" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0cm"></span>
						vers plus de clarté, le soulagement des maux, le bien-être, des choix justes, un meilleur lien à soi et à l'autre...<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><ul><li><p class="P9" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0.635cm;">•</span>
						en profondeur
						<span class="odfLiEnd"></span>

					</p>
					<p class="P5" style="margin-left:0cm;"><span class="Bullet_20_Symbols" style="display:block;float:left;min-width:0cm"></span>
						vers
						la connaissance de soi, l'acceptation de sa singularité, le processus d'individuation,
						la différenciation, une écoute dialoguée entre conscient et inconscient...<span class="odfLiEnd"></span>

					</p>
				</li>
			</ul><p class="P1">
			</p>
			<p class="P1"><span class="T1">Athanors</span>
				est aussi une Association loi 1901 qui a pour objet le Travail sur soi et la Promotion de projets artistiques.</p>
			<p class="P1">
			</p>
			<p class="P1">
			</p>
			<p class="Standard">
			</p>
			<p class="Standard">
			</p>
			<p class="Standard">
			</p>


		</div>
	</section>
	<style type="text/css">
		@page {  }
		table { border-collapse:collapse; border-spacing:0; empty-cells:show }
		td, th { vertical-align:top; font-size:12pt;}
		h1, h2, h3, h4, h5, h6 { clear:both;}
		ol, ul { margin:0; padding:0;}
		li { list-style: none; margin:0; padding:0;}
		/* "li span.odfLiEnd" - IE 7 issue*/
		li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
		span.footnodeNumber { padding-right:1em; }
		span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
		span.heading_numbering { margin-right: 0.8rem; }* { margin:0;}
		.P1 { font-size:12pt; text-align:justify ! important; }
		.P2 { font-size:16pt; text-align:center ! important; font-weight:bold; padding-top: 50px; padding-bottom: 50px; }
		.P { font-size:20pt; text-align:center ! important; font-weight:bold; padding-top: 50px; padding-bottom: 50px; }
		.P3 { font-size:12pt; text-align:justify ! important; }
		.P4 { font-size:12pt; text-align:justify ! important; }
		.P5 { font-size:12pt; text-align:justify ! important; }
		.P6 { font-size:12pt;}
		.P7 { font-size:12pt;}
		.P8 { font-size:12pt;}
		.P9 { font-size:12pt;text-align:justify ! important; font-style:italic; }
		.Standard { font-size:12pt;}
		.Bullet_20_Symbols { font-family:OpenSymbol; }
		.T1 { font-weight:bold; }
		/* ODF styles with no properties representable as CSS */
		{ }
	</style>
{% endblock %}
